.banner { position: relative; overflow: hidden; }
.banner .pic2 { position: absolute; top: 0; left: 0; }

.ix-link a { color: #fff; }
.ix-link .ib { width: 94px; height: 28px; border: 1px solid #fff; line-height: 28px; text-align: center; }
.ix-link .ib + .ib { margin-left: 15px; }

.mouse-down { position: absolute; left: 50%; bottom: 0; margin-left: -30px; width: 60px; text-align: center; z-index: 39; text-transform: uppercase; }
.mouse-down .line { margin: 15px auto 0 auto; width: 1px; height: 24px; background: #fff; }
.mouse-down .mouse { position: relative; margin: 0 auto 25px auto; width: 14px; height: 28px; border: 1px solid #fff; border-radius: 6px; }
.mouse-down .mouse:before { content: ""; position: absolute; left: 50%; top: 5px; margin-left: -1px; width: 2px; height: 5px; background: #fff; animation: scrolldown 2s infinite linear; }

.header { position: fixed; top: 0; left: 0; right: 0; z-index: 1005; height: 74px; line-height: 24px; }

.menuBtn { position: fixed; top: 7px; left: 10px; z-index: 1009; text-transform: uppercase; overflow: hidden; color: #fff; }
.menuBtn .menu-handler { display: block; float: left; position: relative; }
.menuBtn .en { float: left; margin-top: 20px; white-space: nowrap; line-height: 20px; }

.map-link { overflow: hidden; }
.map-link .aico { float: left; width: 24px; height: 24px; background-position: 0px 0px; transition: 300ms; }
.map-link p { margin-left: 10px; float: left; white-space: nowrap; }
.map-link:hover { color: #faae5c; }
.map-link:hover .aico { background-position: 0 -24px; }

@media screen and (min-width: 1153px) { .ix-link .ib:hover { background: #faae5c; border-color: #faae5c; } }
@media screen and (max-width: 1024px) { .vwrap .videobox { width: 700px; margin-left: -350px; }
  .pw { width: 90%; }
  .fixbg { background-attachment: scroll; }
  .menu-handler { display: block; } }
@media screen and (max-width: 861px) { .vwrap .videobox { width: 100%; left: 0; margin-left: 0; }
  .mcv { display: block; } }
@media screen and (max-width: 641px) { .vwrap .videobox { height: 350px; margin-top: -175px; } }
@media screen and (max-width: 481px) { .vwrap .videobox { height: 300px; margin-top: -150px; }
  .menu-handler .burger { width: 32px; cursor: help; margin-left: -16px; }
  .menuBox .navMobile { margin: 90px 0 50px; }
  .navMobile p a { font-size: 16px; }
  .navMobile .mtnav a { font-size: 14px; } }
@media screen and (max-width: 321px) { .vwrap .videobox { height: 260px; margin-top: -130px; } }
